form{
  display: flex;
  justify-content: center;
}
form input{
margin-right: 1em;
  padding: 5px;
  background-color: #FFFFFF;
  border-color: #EB5926;
  box-shadow: 0 0 8px 0 #EB5926;
  outline: none;  border-radius: 15px;

}
button{
  background: #EB5926;
  color: #fff;
  border-radius: 15px;

  border: none;
  box-shadow: 0px 0px 3px 1px rgb(167, 158, 158);
  cursor: pointer;}
