del{
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}
.line-through{
  text-decoration: line-through;

}
.container{
  color: #D7DDDD;
  margin: 1em;

}

