.del{
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  margin-right: .5em;
}
.line-through{
  text-decoration: line-through;

}
input:checked{
  color: red;
}
.item{  width: 40%;
  height: 40px;
  margin: 1em auto;
  background-color: #FFFFFF;
  border: 1px solid #B4B4B4;
  border-radius: 15px;
padding-top: .5em;
padding-left: .5em;

}
@media screen and (max-width:769px){
  .item{
    width: 60%;
  }
}
@media screen and (max-width:450px){
  .item{
    width: 80%;
  }
}

